<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Export</title>
<style type="text/css">
 * {
  margin:0; padding:0;
 }

 body {
  background-color: #efe9b7;
 }
 a {
  color: rgba(0, 62, 114, .55);
  font-weight: bold;
 }
 span { display: inline-block; }         /* prevent unsupposed empty lines */
 span[class|="tag"] { display: inline; } /* add proper wrapping for tags */

 pre {
  margin: 30px;
  font-family: "Consolas", "Monaco", monospace;
  font-size: 15px;
  font-style: italic;
  line-height: 20px;
  white-space: pre-wrap;
 }

 .bullet-pending {
  font-style: normal;
  font-weight: bold;
  color: rgba(0,0,0,.6);
 }

 .bullet-done {
  font-style: normal;
  font-weight: bold;
  color: #00723e;
 }
 .bullet-cancelled {
  font-style: normal;
  font-weight: bold;
  color: #b60101;
 }

 .sep {
  font-style: normal;
  color: rgba(0,0,0,.44);
 }
 .sep-archive {
  font-style: normal;
  color: rgba(0,0,0,.44);
 }
 .header {
  font-weight: bold;
  font-style: normal;
  color: #bc644a;
  background-color: rgba(0,0,0,.05);
  width: 100%;
 }
 .tag {
  font-weight: bold;
  font-style: normal;
  color: #C37763;
 }
 .tag-done, .tag-cancelled {
  font-style: normal;
  color:#A49F85;
 }

 .tag-today, .tag-critical, .tag-high, .tag-low{
  font-weight: bold;
  font-style: normal;
  color: #000000;
 }
 .tag-today{
  background: #EADD4E;
 }
 .tag-critical{
  background: #FF0000;
 }
 .tag-high{
  background: #FF7F00;
 }
 .tag-low{
  background: #222222;
  color: #ffffff;
 }

 .done, .cancelled{
  color: #66654F;
 }
 .note{
  font-style: normal;
  color: #858266;
 }
 .empty-line {
  /* span, either empty or containing whitespaces/tabs */
 }
</style>
</head>
<body>
<pre><span class="header">TODO:</span>
<span class="open"> <span class="bullet-pending">☐</span> make file links highlighted <span class="tag">@feature
</span></span>
<span class="open"> <span class="bullet-pending">☐</span> use control+shift+A to only archive the first level tasks (or current level of indent) <span class="tag">@feature
</span></span>
<span class="open"> <span class="bullet-pending">☐</span> in archive list, add date in front of done tasks (e.g. 2012-09-06 14:41 Ξ some task) <span class="tag">@feature
</span></span>
<span class="open"> <span class="bullet-pending">☐</span> tags <span class="tag-today">@today</span> <span class="tag-today">✭ᴛᴏᴅᴀʏ</span> <span class="tag">@feature
</span></span>
<span class="open"> <span class="bullet-pending">☐</span> marking all nested tasks as done should mark the parent as done?
</span>
<span class="open"> <span class="bullet-pending">☐</span> other themes?
</span>
<span class="open"> <span class="bullet-pending">☐</span> mouse interaction <span class="tag">@feature
</span></span>
<span class="empty-line"></span>
<span class="sep-archive">＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿</span>
<span class="header">Archive:</span>
<span class="done"> <span class="bullet-done">✔</span> make urls highlighted <span class="tag-done">@feature @done (15-05-18 08:15) @project(TODO)</span></span>
<span class="done"> <span class="bullet-done">✔</span> export to html/ preview in browser <span class="tag-done">@feature @done (14-04-28 19:28)</span></span>
<span class="done"> <span class="bullet-done">✔</span> accept multiple bullet types at the same time <span class="tag-done">@feature @done (14-01-23 15:39)</span></span>
<span class="done"> <span class="bullet-done">✔</span> taskpaper compatibility <span class="tag-done">@improvement @done (14-01-23 15:38)</span></span>
<span class="done"> <span class="bullet-done">✔</span> include in the task the date and time of creation (using a shortcut key) <span class="tag-done">@feature @done (13-10-25 14:47) @project(TODO)</span></span>
<span class="done"> <span class="bullet-done">✔</span> in archive list, adding newly archived items to the bottom or top should be configurable <span class="tag-done">@feature @done (13-10-23 21:21) @project(TODO)</span></span>
<span class="done"> <span class="bullet-done">✔</span> Maybe after mark the task as done calculate (the end time - start time) <span class="tag-done">@done (13-10-22 17:50) @project(TODO)</span></span>
<span class="done"> <span class="bullet-done">✔</span> in archive list, prefix task with project name, add specific scope for project prefixes <span class="tag-done">@option @done (13-07-09 13:08) @project(TODO)</span></span>
<span class="done"> <span class="bullet-done">✔</span> indenting notes below tasks? <span class="tag-done">@done (13-07-08 00:59) @project(TODO)</span></span>
<span class="done"> <span class="bullet-done">✔</span> when archiving, if a task has some note, those notes should also move to archive section <span class="tag-done">@feature @done (13-06-25 11:49) @project(TODO)</span></span>
<span class="done"> <span class="bullet-done">✔</span> in archive list, postfix task with project name, add specific scope for project postfixes <span class="tag-done">@feature @done (13-02-08 17:33) @project(TODO)</span></span>
<span class="done"> <span class="bullet-done">✔</span> make links clickable <span class="tag-done">@feature @done (13-01-22 12:59)</span></span>
<span class="cancelled"> <span class="bullet-cancelled">✘</span> make gif animation <span class="tag-cancelled">@docs @cancelled (13-01-22 23:25)</span></span>
<span class="done"> <span class="bullet-done">✔</span> document cancelled tasks and margin before task bullet option <span class="tag-done">@done (12-11-28 04:53)</span></span>
<span class="done"> <span class="bullet-done">✔</span> change all keymaps to use new commands <span class="tag-done">@done (12-11-28 04:46)</span></span>
<span class="done"> <span class="bullet-done">✔</span> margin before task bullet should be customizable <span class="tag-done">@improvement @done (12-11-16 21:05)</span></span>
<span class="done"> <span class="bullet-done">✔</span> add link to repo <span class="tag-done">@documentation @done (12-09-23 11:36)</span></span>
<span class="done"> <span class="bullet-done">✔</span> tags with () <span class="tag-done">@bug @done (12-09-23 11:28)</span></span>
<span class="done"> <span class="bullet-done">✔</span> can not make a new task on empty line <span class="tag-done">@bug @important @done (12-09-23 11:26)</span></span>
<span class="done"> <span class="bullet-done">✔</span> improved support for custom date format <span class="tag-done">@done (Thursday September 20, 2012 11:41 PM)</span></span>
<span class="done"> <span class="bullet-done">✔</span> removed the color of tags in done tasks <span class="tag-done">@improvement @done (12-09-20 23:25)</span></span>
<span class="done"> <span class="bullet-done">✔</span> png images for linux <span class="tag-done">@done (12-09-20 22:58)</span></span>
<span class="done"> <span class="bullet-done">✔</span> tags with dot can not be highlighted <span class="tag-done">@bug @1.2 @done (12-09-20 22:58)</span></span>
<span class="done"> <span class="bullet-done">✔</span> can not add multiple tags anymore! WTF! <span class="tag-done">@bug @done (12-09-20 22:46)</span></span>
<span class="done"> <span class="bullet-done">✔</span> adding ☑ to the complete_bullet list <span class="tag-done">@done (12-09-20 22:29)</span></span>
<span class="done"> <span class="bullet-done">✔</span> removed mouse interation for now <span class="tag-done">@bug @done (12-09-19 23:39)</span></span>
<span class="done"> <span class="bullet-done">✔</span> do not move the position of cursor when pressing cmd+D <span class="tag-done">@improvement @done (12-09-18 22:05)</span></span>
<span class="done"> <span class="bullet-done">✔</span> mouse click support to toggle a task state <span class="tag-done">@feature @done (12-09-18 13:32)</span></span>
<span class="done"> <span class="bullet-done">✔</span> write better readme <span class="tag-done">@done (12-09-11 14:09)</span></span>
<span class="done"> <span class="bullet-done">✔</span> make an empty line gap between arhived task <span class="tag-done">@bug @done (12-09-11 10:37)</span></span>
<span class="done"> <span class="bullet-done">✔</span> removed packages/tasks from settings and code <span class="tag-done">@improvement @done (12-09-11 10:25)</span></span>
<span class="done"> <span class="bullet-done">✔</span> open tutorial after install <span class="tag-done">@improvement @done (12-09-18 13:28)</span></span>
<span class="done"> <span class="bullet-done">✔</span> add to package manager <span class="tag-done">@done (12-09-11 10:02)</span></span>
<span class="done"> <span class="bullet-done">✔</span> rename to PlainTasks <span class="tag-done">@done (12-09-10 23:45)</span></span>
<span class="done"> <span class="bullet-done">✔</span> archiving with custom/none date format <span class="tag-done">@bug @done (12-09-08 10:54)</span></span>
<span class="done"> <span class="bullet-done">✔</span> archiving with done tag false <span class="tag-done">@bug @done (12-09-08 10:54)</span></span>
<span class="done"> <span class="bullet-done">✔</span> in archive list, make sure there's a line break at the end of list <span class="tag-done">@improvement @done (12-09-08 10:42)</span></span>
<span class="done"> <span class="bullet-done">✔</span> in archive list, indented task should be unindented <span class="tag-done">@bug @done (12-09-08 08:25)</span></span>
<span class="done"> <span class="bullet-done">✔</span> more tests on linux and windows <span class="tag-done">@later @done (12-09-07 22:05)</span></span>
<span class="done"> <span class="bullet-done">✔</span> tags should not be italic <span class="tag-done">@bug @done (12-09-07 22:05)</span></span>
<span class="done"> <span class="bullet-done">✔</span> make done tag optional <span class="tag-done">@feature @done (12-09-07 15:54)</span></span>
<span class="done"> <span class="bullet-done">✔</span> make date labling optional <span class="tag-done">@feature @done (12-09-07 14:56)</span></span>
<span class="done"> <span class="bullet-done">✔</span> now that date format is optional: just <span class="tag-done">@done should be suffice @bug @done (12-09-07 14:56)</span></span>
<span class="done"> <span class="bullet-done">✔</span> being able to work with done tasks with no <span class="tag-done">@done and date at the end @improvement @done (12-09-07 14:56)</span></span>
<span class="done"> <span class="bullet-done">✔</span> add ico format for windows <span class="tag-done">@later @done (2012-09-06 15:02)</span></span>
<span class="done"> <span class="bullet-done">✔</span> BUG: having single qoutes (') or &gt; in task do not allow archiving <span class="tag-done">@IMP @done (2012-09-06 14:22)</span></span>
<span class="done"> <span class="bullet-done">✔</span> make date formating configurable <span class="tag-done">@feature @done (2012-09-05 05:28)</span></span>
<span class="done"> <span class="bullet-done">✔</span> notes + make them foldable <span class="tag-done">@feature @done (2012-09-05 05:19)</span></span>
<span class="done"> <span class="bullet-done">✔</span> add separator <span class="tag-done">@feature @done (2012-09-05 05:11)</span></span>
<span class="done"> <span class="bullet-done">✔</span> BUG: command+enter on project name line <span class="tag-done">@IMP @done (2012-09-05 04:49)</span></span>
<span class="done"> <span class="bullet-done">✔</span> add to settings menu <span class="tag-done">@feature @done (2012-09-05 03:55)</span></span>
<span class="done"> <span class="bullet-done">✔</span> always show the folding icons (or force to show folding icons) <span class="tag-done">@improvement @done (2012-09-05 03:43)</span></span>
<span class="done"> <span class="bullet-done">✔</span> refactor code <span class="tag-done">@later @done (2012-09-05 03:26)</span></span>
<span class="done"> <span class="bullet-done">✔</span> BUG: archiving when there is no done item cause an empty line on top of Archive section <span class="tag-done">@done (2012-09-05 03:23)</span></span>
<span class="done"> <span class="bullet-done">✔</span> BUG: repeating Archive put empty line sometimes <span class="tag-done">@IMP @done (2012-09-05 03:22)</span></span>
<span class="done"> <span class="bullet-done">✔</span> can not archive if there is no empty line at the end of todo list <span class="tag-done">@IMP @done (2012-09-04 19:33)</span></span>
<span class="done"> <span class="bullet-done">✔</span> fade the line above archive <span class="tag-done">@done (2012-04-26 00:55)</span></span>
<span class="done"> <span class="bullet-done">✔</span> publish custom icon files <span class="tag-done">@done (2012-04-20 22:50)</span></span>
<span class="done"> <span class="bullet-done">✔</span> use this full width low line (＿) for separator <span class="tag-done">@done (2012-04-20 22:49)</span></span>
<span class="done"> <span class="bullet-done">✔</span> temporary fold with -------------- <span class="tag-done">@done (2012-04-15 20:36)</span></span>
<span class="done"> <span class="bullet-done">✔</span> BUG: when no bullet detected after inseting bullet text should be deselected <span class="tag-done">@done (2012-04-15 20:33)</span></span>
<span class="done"> <span class="bullet-done">✔</span> BUG: foldable projects <span class="tag-done">@alaki @fine @done (2012-04-15 20:06)</span></span>
<span class="done"> <span class="bullet-done">✔</span> auto indent by one space to get folable projects <span class="tag-done">@done (2012-04-15 20:05)</span></span>
<span class="done"> <span class="bullet-done">✔</span> FEATURE: support tags <span class="tag-done">@tag @important @something @done (2012-04-15 19:54)</span></span>
<span class="done"> <span class="bullet-done">✔</span> Style normal tags <span class="tag-done">@done (2012-04-15 19:54)</span></span>
<span class="done"> <span class="bullet-done">✔</span> BUG: keybindings should only work in todo context <span class="tag-done">@done (2012-04-15 15:05)</span></span>
<span class="done"> <span class="bullet-done">✔</span> Platform Specific Settings <span class="tag-done">@done (2012-03-29 09:17)</span></span>
<span class="done"> <span class="bullet-done">✔</span> FEATURE: activate project lists for cmd+R <span class="tag-done">@done (2012-03-29 00:04)</span></span>
<span class="done"> <span class="bullet-done">✔</span> BUG: test it on windows (with default font and consolas) <span class="tag-done">@done (2012-03-28 23:36)</span></span>
<span class="done"> <span class="bullet-done">✔</span> BUG: add shortcut keys for other systems <span class="tag-done">@done (2012-03-28 18:28)</span></span>
<span class="done"> <span class="bullet-done">✔</span> BUG: include notebook.theme in the plugin <span class="tag-done">@done (2012-03-28 00:08)</span></span>
<span class="done"> <span class="bullet-done">✔</span> BUG: indent task to have project folding <span class="tag-done">@done (2012-03-27 17:08)</span></span>
<span class="done"> <span class="bullet-done">✔</span> escape bullet for regex to allow + <span class="tag-done">@done (2012-03-27 17:05)</span></span>
<span class="done"> <span class="bullet-done">✔</span> have both command+i and command+enter for new <span class="tag-done">@done (2012-03-27 16:57)</span></span>
<span class="done"> <span class="bullet-done">✔</span> have command+shift+A for archive <span class="tag-done">@done (2012-03-27 16:57)</span></span>
<span class="done"> <span class="bullet-done">✔</span> Archive done tasks at the end of the file make it fold by defalt <span class="tag-done">@done (2012-03-27 01:01)</span></span>
<span class="done"> <span class="bullet-done">✔</span> add archive section if it does not exists <span class="tag-done">@done (2012-03-27 01:14)</span></span>
<span class="done"> <span class="bullet-done">✔</span> TODO: make line bulleted if it's not on cmd+I (take care of done and indent) <span class="tag-done">@done (2012-03-26 14:48)</span></span>
<span class="done"> <span class="bullet-done">✔</span> TODO: customizeble bullets through settings <span class="tag-done">@done (2012-03-25 20:57)</span></span>
<span class="done"> <span class="bullet-done">✔</span> TODO: add emdash and endash to the list of bullets – — <span class="tag-done">@done (2012-03-25 20:34)</span></span>
<span class="done"> <span class="bullet-done">✔</span> TODO: add filetypes: .taskpaper , .tasks <span class="tag-done">@done (2012-03-25 19:56)</span></span>
<span class="done"> <span class="bullet-done">✔</span> TODO: Allow custom filetypese types to be added <span class="tag-done">@done (2012-03-25 03:34)</span></span>
<span class="done"> <span class="bullet-done">✔</span> TODO: Allow custom bullet punctuations <span class="tag-done">@done (2012-03-25 11:10)</span></span>
<span class="done"> <span class="bullet-done">✔</span> TODO: Respect indentations <span class="tag-done">@done (2012-03-25 03:34)</span></span>
</pre>
</body></html>